body{
  background-color: black;
}
.container{
  background-color: aquamarine;
  border: 5px solid greenyellow;
  height: 650px;
  width: 500px;
  margin: auto;    /*centers all the child elements of the container div*/
  text-align: center;
}